@using AgeOfClones.Areas.Management.Models

@model ManagementTableViewModel

@{ 
    var rows = Model.Table.GetRowsForDisplay();
    var editAction = Model.EditActionName;
    var deleteAction = Model.DeleteActionName;
}

@foreach (var item in rows)
{
<tr>
    <td>
        @Html.ActionLink("", editAction, new { id = Int32.Parse(item.Key) }, new { @class = "viewDialog glyphicon glyphicon-pencil", data_dialog_title = "Редактирование модели", title = "Изменить" })
        @Html.ActionLink("", deleteAction, new { id = Int32.Parse(item.Key) }, new { @class = "viewDialog glyphicon glyphicon-remove", data_dialog_title = "Удаление модели", title = "Удалить" })
    </td>

    @foreach (var cell in item.Value)
    {
    <td>
        @if (cell.SelectList != null)
        {
            var textValue = cell.SelectList.Where(c => c.Value == cell.Value).Select(c => c.Text).FirstOrDefault();
            @textValue
        }
        else
        {
            @cell.Value
        }

    </td>
    }
</tr>
}
