@using AgeOfClones.Areas.Management.Models

@model IDictionary<string, IEnumerable<EntityEditorCurrentFieldModel>>

<tr>
    @foreach (var item in Model)
    {
        foreach (var cell in item.Value)
        {
            <td>
                @{ Html.RenderPartial("TableEditor/_TableEditorCell", cell); }
            </td>
        }
    }
</tr>
