@using Application.Models.TableEditor

@model IEnumerable<TableEditorCellModel>

<form asp-action="@ViewData["Action"]">
    <table class="table">
        @foreach(var item in Model)
        {
            <tr>
                <td style="vertical-align:middle;">
                    <label class="control-label">
                        @item.PropertyName
                    </label>
                </td>
                <td>
                    @{ Html.RenderPartial("TableEditor/_TableEditorCell", item); }
                </td>
            </tr>

        }
    </table>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</form>