
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<ul>
    <li><a asp-area="Management" asp-controller="Profile" asp-action="Index">Profiles</a></li>
    <li><a asp-area="Management" asp-controller="Profile" asp-action="IndexAccount">Accounts</a></li>
    <li><a asp-area="Management" asp-controller="Stock" asp-action="Index">Stocks</a></li>
    <li><a asp-area="Management" asp-controller="Currency" asp-action="Index">Currencies</a></li>
</ul>