<p style="margin-top:10px;">
    <a asp-area="Management" asp-controller="Resource" asp-action="UpdateResourcesFromXML">Update Resources from site</a>
</p>

@{ Html.RenderPartial("DevExpressTmpl/_GridTable"); }