@model IEnumerable<Infrastructure.Data.Entities.Profile>

@{
    ViewData["Title"] = "Home Page";
}

@if (Model != null)
{
    foreach(var item in Model)
    {
        <div>@item.Name</div>

    }

}
