@using AgeOfClones.Areas.Management.Models
@using Application.Management.Models

@model ManagementTableViewModel

@{
    var items = Model.Table.Entities as IEnumerable<CurrencyManagementModel>;
}

@{ Html.RenderPartial("TableEditor/_Table"); }

@if (items?.Count() > 0)
{
    <ul>
        @foreach (var item in items)
        {
            <li><a asp-area="Management" asp-controller="Currency" asp-action="IndexExchangeRates" asp-route-id="@item.Id">@item.Name</a></li>
        }
    </ul>
}
